{
  "default": {
    "db_host": "127.0.0.1",
    "db_port": 3306,
    "db_user": "root",
    "db_password": "PLEASE_SET_ME",
    "db_name": "mysql",
    "poll_interval": 5
  },
  "multistrategy-v5.2.1": {
    "db_host": "127.0.0.1",
    "db_port": 3306,
    "db_user": "root",
    "db_password": "PLEASE_SET_ME",
    "db_name": "mysql",
    "poll_interval": 5
  }
}
